@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Philosopher&family=Poppins&family=Roboto:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.fontPhilosopher-regular {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fontHelvetica {
    font-family: "Arial","sans-serif";
}

.fontRoboto {
    font-family: "Roboto", sans-serif;
}
